body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	margin: auto;
}

h1 {
	text-align: center;
}

button {
	padding: 10px;
	display: block;
	margin: 60px auto 0 auto;
}

.range-sliders {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

input[type=range] {
	padding: 40px;
}

